<div class="auth-wrapper">
  <div class="auth-card">
    <h2 class="text-center">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group" *ngFor="let field of fields">
        <label [for]="field.id">{{ field.label }}</label>
        <input
          *ngIf="field.type !== 'select'"
          [id]="field.id"
          [formControlName]="field.control"
          [type]="field.type"
          class="form-control"
          [placeholder]="field.placeholder"
        />
        <select *ngIf="field.type === 'select'" [id]="field.id" [formControlName]="field.control" class="form-control">
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
        <div
          *ngIf="
            registerForm.get(field.control)?.invalid &&
            (registerForm.get(field.control)?.dirty || registerForm.get(field.control)?.touched)
          "
          class="error-msg"
        >
          {{ field.error }}
        </div>
      </div>

      <div *ngIf="error" class="error-msg text-center">{{ error }}</div>

      <button type="submit" class="btn primary-btn" [disabled]="registerForm.invalid">Register</button>
      <p class="text-center mt-3">
        Already have an account?
        <a (click)="goToLogin()" class="link">Login here</a>
      </p>
    </form>
  </div>
</div>
